<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>bicho</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="$domain/theme/default.css" rel="stylesheet" type="text/css" />
</head>


<body>
<!-- start header -->
<div id="logo">
  <h1><a href="$base_url/">bicho</a><span id="beta">beta</span></h1>
  <h2> &raquo;&nbsp;&nbsp;&nbsp;the bug tracker analyzer</h2>
</div>
<div id="header">
  <div id="menu">
    <ul>
      <li><a href="$base_url/">Homepage</a></li>
      <li><a href="#">Downloads</a></li>
      <li><a href="#">Examples</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
<!-- end header -->


<div id="wrapper">

<!-- start page -->
<div id="page">


